*.gem
*.rbc
.bundle
.config
.yardoc
InstalledFiles
Gemfile.lock
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
log
public/assets/*
*~
*#
\#*
.\#*
/db/*.sqlite3
/db/*.sqlite3-journal
fontconfig/
.idea
